[submodule "SDL2-CS"]
	path = SDL2-CS
	url = https://github.com/flibitijibibo/SDL2-CS.git
[submodule "VulkanCore"]
	path = VulkanCore
	url = https://github.com/signalwalker/VulkanCore.git
[submodule "Walker"]
	path = Walker
	url = https://github.com/signalwalker/Walker.git
